.pane-quicktabs-home-tab2 h2,.pane-quicktabs-home-tab1 h2 {display: none;}
.pane-quicktabs-home-tab2 h2.tabjs,.pane-quicktabs-home-tab1 h2.tabjs {display: block;}
#site-name-slogan span#logodo {color: #e54e53;}